<mat-divider></mat-divider>
<div class="education-top">
    <h2 class="top-inside">
        <b> Education </b>
    </h2>
</div>

<div class="home-education">
    <img src="../../../assets/mit-logo.png" height="250">
    <div class="education-right">
        <b style="font-size: 16px;"> Massachusetts Institute of Technology </b> <br>
        Bachelor of Computer Science and Engineering <br>
        Class of 2021 <br> <br>

        <b> Relevant Courses: </b> <br>
        Software Studio (Full-Stack Development) <br>
        Computer Systems Engineering <br>
        Design and Analysis of Algorithms <br>
        Intro to Machine Learning <br>
        Matrix Methods in Data Analysis, Signal Processing, and Machine Learning <br>
    </div>
</div>
