@import './colors.css';

body {
    overflow-x: auto;
}

.kca-photos {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 100%;
}

.extra-link {
    font-size: 14px;
    text-align: center;
}

.extra-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.extra {
    align-items: center;
    display: flex;
    flex-flow: column;
    padding-left: 32px;
    width: 100%;
}

.extra-details {
    margin: 12px;
    text-align: justify;
}

.extra-1 {
    background-color: var(--dark-green);
}
.extra-1-text {
    color: var(--white) !important;
}

.extra-2 {
    background-color: var(--brown);
}
.extra-2-text {
    color: var(--white) !important;
}

.extra-3 {
    background-color: var(--yellow);
}
.extra-3-text {
    color: var(--dark-green) !important;
}

.extra-4 {
    background-color: var(--gray);
}
.extra-4-text {
    color: var(--dark-green) !important;
}