@import './colors.css';

.page-top-area {
    background-color: var(--gray);
}

.skill-page-section {
    background-color: var(--yellow);
	display: flex;
	flex-flow: column;
}

.skills-title {
    margin-left: 60px;
    margin-bottom: 32px;
}

.skill-page-section .fact-box .fact-content i,
.skill-page-section .fact-box .fact-content h2,
.skill-page-section .fact-box .fact-content p {
	color: white;
	margin-top: 20px;
}

.language-section {
    background: var(--brown);
	display: flex;
	flex-flow: column;
}

.language-title {
    color: var(--white);
    margin-left: 60px;
    margin-bottom: 32px;
}

.language-groups {
    justify-content: center;
    margin-top: 16px;
}

.language-name {
    color: var(--white);
    margin-top: 16px;
}

.language-level {
    color: white;
}
