@import '../../../colors.scss';

.banner-card {
    align-items: center;
    background-color: $dark-gray;
    display: flex;
    height: 400px;
}

.banner-name {
    color: $beige;
    font-family: "Open Sans";
    font-size: 60px;
    padding: 16px;
}