<!-- Twitter Internship Summer 2020  -->
<div class="industry-top">
    <span>
        Industry experience:
    </span>
</div>
<div class="home-industry">
    <div class="logo-industry">
        twitter logo here
    </div>
    <div class="job-description">
        description here
    </div>
</div>

<!-- Google Internship Summer 2019 -->
<div class="home-industry">
    <div class="job-description">
        description here
    </div>
    <div class="logo-industry">
        google logo here
    </div>
</div>