@import '../../../colors.scss';

.industry-top {
    background-color: $chocolate;
    color: $beige;
    display: flex;
    font-family: "Open Sans";
    justify-content: center;
    padding-top: 12px;
}

.mat-divider {
    border-top-color: $olive;
}

.home-industry {
    align-items: center;
    background-color: $chocolate;
    display: flex;
    flex-flow: row;
    height: 400px;
    padding: 20px;
}

.job-description {
    color: $beige;
    font-family: "Open Sans";
    text-align: center;
    width: 100%;
}

.job-details {
    line-height: 24px;
    margin-right: 32px;
    text-align: justify;
}

.learn-more {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    width: 100%;
}