<!-- Twitter Internship Summer 2020  -->
<div class="industry-top">
    <h2>
        <b> Industry Experience </b>
    </h2>
</div>
<div class="home-industry">
    <img src="../../../assets/twitter-logo.png" height="300">
    <div class="job-description">
        <b style="font-size: 16px;"> Twitter, Inc. </b> <br>
        <i> Software Engineering Intern </i> <br> <br>
        TBA
        <div class="learn-more">
            <button mat-button>
                Learn More
                <mat-icon> keyboard_arrow_right </mat-icon>
            </button>
        </div>
    </div>
</div>

<mat-divider></mat-divider>
<!-- Google Internship Summer 2019 -->
<div class="home-industry">
    <div class="job-description">
        <b style="font-size: 16px;"> Google, Inc. - Google Cloud </b> <br>
        <i> Engineering Practicum Intern </i> <br> <br>
        <div class="job-details">
            <ul>
                <li> Designed and developed an internal front-end tool to systematically visualize Google network model using Angular, HTML, CSS, and Typescript. </li>
                <br>
                <li> Developed a back-end service that connects Google networking service with the front-end UI, parses, and simplifies the model using C++ to create a seamless network model browsing experience. </li>
                <br>
                <li> Presented the project to over 50 employees at Google Network Infrastructure Intern Poster Session. </li>
            </ul>
        </div>
        <div class="learn-more">
            <button mat-button>
                Learn More
                <mat-icon> keyboard_arrow_right </mat-icon>
            </button>
        </div>
    </div>
    <img src="../../../assets/google-logo.png" height="300">
</div>