<div class="top-menu">
    <button mat-button class="logo"> Stacia Johanna </button>
    <div class="top-menu-right">
        <button mat-button class="top-menu-button"> Education </button>
        <button mat-button [matMenuTriggerFor]="experience" class="top-menu-button"> Experience </button>
        <mat-menu #experience="matMenu">
            <button mat-menu-item class="top-menu-item"> Industry </button>
            <button mat-menu-item class="top-menu-item"> Research </button>
            <button mat-menu-item class="top-menu-item"> School Project </button>
        </mat-menu>
        <button mat-button class="top-menu-button"> Extracurricular </button>
        <button mat-button class="top-menu-button"> Skills </button>
    </div>
</div>
<app-home-banner></app-home-banner>
<app-home-education></app-home-education>
<app-home-industry></app-home-industry>
<app-home-school></app-home-school>
<app-home-extra></app-home-extra>
<app-home-skills></app-home-skills>
<app-home-contact></app-home-contact>