@import '../../../colors.scss';

.top-menu {
    background-color: $dark-gray;
    color: $light-blue;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.top-menu-button {
    font-family: "Open Sans";
}

.top-menu-right {
    display: flex;
    height: 100%;
}

.top-menu-item {
    background-color: $dark-gray;
    color: $beige;
    font-family: "Open Sans";
    height: 100%;
}