@import '../../../colors.scss';

.top-menu {
    background-color: $dark-gray;
    color: $beige;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.top-menu-right {
    display: flex;
    height: 100%;
}

.top-menu-item {
    background-color: $dark-gray;
    color: $beige;
    height: 100%;
}