:root {
    --chocolate:#844D36;

    --dark-gray:#2e2f37;
    --gray-1: #5b5c6b;

    --light-blue:#86B3D1;

    --beige:#d6cec7;

    --olive:#8E8268;

    --white: #eeeeef;
    --gray: #9ea397;
    --yellow: #d88f38;
    --brown: #a54933;
    --dark-green: #353b35;
}