@import './colors.css';

.industry-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.industry {
    background-color: var(--dark-green);
    color: var(--white);
    display: flex;
    justify-items: center;
}

.industry-details {
    padding: 32px;
    text-align: justify;
}

.industry-subtitle {
    color: var(--white) !important;
}

.industry-title {
    color: var(--white);
}

.project {
    background-color: var(--yellow);
    color: var(--dark-green);
}

.project-subtitle {
    color: var(--dark-green) !important;
}

.project-title {
    color: var(--dark-green);
}

.research {
    background-color: var(--brown);
    color: var(--white);
}

.research-subtitle {
    color: var(--white) !important;
}

.research-title {
    color: var(--white);
}

.intro-text {
    padding-left: 20px;
}

.industry-logo {
    margin: 12px;
}

.pdf-group {
    justify-content: center;
    display: flex;
}

.pdf-viewer {
    align-self: center;
    margin-bottom: 32px;
}

.horizontal-line {
    background-color: black;
    height: 1px;
}