@import '../../../colors.scss';

.mat-divider {
    border-top-color: $gray;
}

.education-top {
    align-items: center;
    background-color: $dark-gray;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.top-inside {
    color: $beige;
    font-family: "Open Sans";
}

.home-education {
    background-color: $dark-gray;
    display: flex;
    flex-flow: row;
    height: 300px;
    padding: 16px;
}

.education-right {
    color: $beige;
    font-family: "Open Sans";
    line-height: 24px;
    padding-left: 20px;
    text-align: center;
    width: 100%;
}