@import './colors.css';

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.scroll-instruction {
    color: white;
    text-align: center;
}

/* -------------- Start of section styling ------------------- */
#sections {
    position: relative;
}

.step {
    display: flex;
    flex-flow: column;
    margin-bottom: 100px;
    height: 100vh;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
}

section {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 1s;
}
    
section.visible {
    opacity: 1;
    transform: translate(0, 0); 
}

.section-title {
    color: white;
    text-align: center;
}

.section-container {
    align-items: center;
    display:flex;
    flex-flow: column;
    width: 100%;
}
/* --------------- End of section styling -------------------- */

/* --------------- Start of nav styling -------------------- */
.container-fluid {
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 500;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
/* --------------- End of nav styling -------------------- */

/* -------------- Start of title styling ------------------- */
.title-container {
    font-family:Khula;
    font-size:4em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top:148px;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.title-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}

.hidden {
    opacity:0;
}
/* -------------- End of title styling ------------------- */

/* -------------- Start of education styling ------------------- */
.education-container {
    align-items: center;
    display: flex;
    flex-flow: row;
    height: 80vh;
    justify-content: space-between;
    text-align: center;
}

.education-left {
    align-items: center;
    background-color: var(--yellow);
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    width: 50%;
}

.education-right {
    margin-right: 12px;
}

.education-logo {
    height: 300px;
}

.education-button {
    margin-top: 24px;
    margin-bottom: 12px;
    width: 50%;
}

/* -------------- End of education styling ------------------- */

/* -------------- Start of industry styling ------------------- */
#section-industry {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.section-title {
    color: white;
}

#industry-body {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
}

.industry-caption {
    color: white;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 32px;
    margin-top: 24px;
    text-align: center;
}

.btn-industry {
    width: 360px;
}

/* -------------- End of industry styling ------------------- */

/* -------------- Start of research styling ------------------- */
#section-research {
    align-items: center;
    display: flex;
    flex-flow: column;
}

#research-body {
    display: flex;
    flex-flow: row;
    margin-top: 20px;
    justify-content: space-around;
    width: 100%;
}

.research-subbody {
    align-items: center;
    display: flex;
    flex-flow: column;
}
/* -------------- End of research styling ------------------- */

/* -------------- Start of course project styling ------------------- */
.course-body {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 100%;
    margin-top: 12px;
}

.course-left {
    align-items: center;
    background-color: var(--light-blue);
    color: var(--dark-green);
    display: flex;
    flex-flow: column;
    height: 85%;
    justify-content: center;
    width: 48%;
}

.course-top {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.course-img {
    margin: 4px;
    margin-bottom: 12px;
}

.course-right {
    align-items: center;
    background-color: var(--dark-green);
    color: white;
    display: flex;
    flex-flow: column;
    height: 85%;
    justify-content: center;
    width: 48%;
}
/* -------------- End of course project styling ------------------- */

/* -------------- Start of extra styling ------------------- */
.extra-body {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.extra-subbody {
    align-items: center;
    color: white;
    display: flex;
    flex-flow: column;
    margin: 12px;
    width: 100%;
}

.extra-images {
    display: flex;
    flex-flow: column;
    height: 350px;
    margin: 12px;
    width: 350px;
}

.extra-subimage {
    display: flex;
    flex-flow: row;
}

.single-image {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.single-image:hover .img-hover {
    align-items: center;
    display: flex;
    flex-flow: column;
    opacity: 80%;
}

.img-hover {
    background-color: white;
	text-align: center;
    text-decoration: none;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.hover-text {
    color: black;
}

.kca-image {
    background-image: url("../images/extracurricular/kca-event.jpg") !important;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
    height: 180px;
    width: 350px;
}

.kca-hover {
	height: 150px;
    width: 300px;
}

.lom-image {
    background-image: url("../images/extracurricular/lom-easter.jpg") !important;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
    height: 170px;
    width: 110px;
}

.lom-hover {
    height: 150px;
    width: 90px;
}

.cpw-image {
    background-image: url("../images/extracurricular/cpw-1.JPG") !important;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
    height: 170px;
    width: 240px;
}

.cpw-hover {
    height: 150px;
    width: 210px;
}

.ta-image {
    background-image: url("../images/extracurricular/6-031.png") !important;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
    height: 175px;
    width: 350px;
}

.ta-hover {
    height: 150px;
    width: 320px;
}

.gtl-image {
    background-image: url("../images/extracurricular/gtl-workshop.jpg") !important;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
    height: 175px;
    width: 350px;
}

.gtl-hover {
    height: 150px;
    width: 320px;
}

.personal-image {
    background-image: url("../images/extracurricular/personal.png") !important;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
    height: 350px;
    width: 350px;
}

.personal-hover {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 320px;
    padding: 20px;
    width: 320px;
}
/* -------------- End of extra styling ------------------- */

/* -------------- Start of skill styling ------------------- */
.skill-body {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    height: 40%;
    width: 100%;
}

.skill-logos-group {
    margin: 12px;
    text-align: center;
}

.skill-logos {
    margin: 16px;
    text-decoration: none;
}

.skill-group {
    align-items: center;
    color: white;
    display: flex;
    flex-flow: column;
    font-size: 20px;
}

.skill-divider {
    border: solid 1px var(--yellow);
    height: 80%;
}
/* -------------- End of skill styling ------------------- */

/* -------------- Start of connect styling ------------------- */
#connect {
    align-items: center;
    display: flex;
    flex-flow: column;
    font-family: "Domine";
    height: 200px;
    margin: 20px;
    width: 100%;
}

.contact-logo {
    margin: 16px;
}

.social {
    margin: 20px;
}

.footer {
    color: #aeaaaa;
    font-size: 12px;
    text-align: center;
    width: 100%;
}
/* -------------- End of connect styling ------------------- */