@import './colors.css';

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.scroll-instruction {
    color: white;
    text-align: center;
}

/* -------------- Start of section styling ------------------- */
#sections {
    position: relative;
}

.step {
    display: flex;
    flex-flow: column;
    margin-bottom: 100px;
    height: 100vh;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
}

section {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 1s;
}
    
section.visible {
    opacity: 1;
    transform: translate(0, 0); 
}

.section-title {
    color: white;
    text-align: center;
}

.section-container {
    align-items: center;
    display:flex;
    flex-flow: column;
    width: 100%;
}
/* --------------- End of section styling -------------------- */

/* --------------- Start of nav styling -------------------- */
.container-fluid {
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 500;
}
/* --------------- End of nav styling -------------------- */

/* -------------- Start of title styling ------------------- */
.title-container {
    font-family:Khula;
    font-size:4em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.title-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}

.hidden {
    opacity:0;
}
/* -------------- End of title styling ------------------- */

/* -------------- Start of education styling ------------------- */
.education-container {
    align-items: center;
    display: flex;
    flex-flow: row;
    height: 80vh;
    justify-content: space-between;
    text-align: center;
}

.education-left {
    align-items: center;
    background-color: var(--yellow);
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    width: 50%;
}

.education-right {
    margin-right: 12px;
}

.education-logo {
    height: 300px;
}

.education-button {
    margin-top: 24px;
    margin-bottom: 12px;
    width: 50%;
}

/* -------------- End of education styling ------------------- */

/* -------------- Start of industry styling ------------------- */
#section-industry {
    align-items: center;
    display: flex;
    flex-flow: column;
}

#industry-title {
    color: white;
}

#industry-body {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
}

.industry-caption {
    color: white;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 32px;
    margin-top: 24px;
    text-align: center;
}

.btn-industry {
    width: 360px;
}

/* -------------- End of industry styling ------------------- */

/* -------------- Start of research styling ------------------- */
#section-research {
    align-items: center;
    display: flex;
    flex-flow: column;
}

#research-title {
    color: white;
}

#research-body {
    display: flex;
    flex-flow: row;
    margin-top: 20px;
    justify-content: space-around;
    width: 100%;
}

.research-subbody {
    align-items: center;
    display: flex;
    flex-flow: column;
}
/* -------------- End of research styling ------------------- */