@import '../../../colors.scss';

.skills-top {
    background-color: $light-blue;
    color: $dark-gray;
    display: flex;
    font-family: "Open Sans";
    justify-content: center;
    padding-top: 12px;
}

.home-skills {
    align-items: center;
    background-color: $light-blue;
    display: flex;
    flex-flow: row;
    height: 300px;
    padding: 20px;
}