<div class="home-contact">
    <h2 class="contact-top"> Connect </h2>
    <div class="social-medias">
        <a mat-button href="https://www.linkedin.com/in/stacia-johanna/" target="_blank" class="social-media-button"> 
            <img src="../../../assets/linkedin-logo.png" height="50" width="50"> 
        </a>
        <a mat-button href="https://github.com/staciajohanna" target="_blank" class="social-media-button">  
            <img src="../../../assets/github-logo.png" height="50" width="50">
        </a>
    </div>
</div>